.sub-main {
    width: 80%;
    padding-top: 1%;
    padding-right: 10%;
}
.fluid-window{
    width: 80%;
    height: 100%;
    margin-top: 1%;
    margin-right: 16%;
    margin-bottom: 50px;
    background-color: rgba(52, 58, 64,0.9);
    border:5px solid darkslategray;
    border-radius: 30px;

}
